@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // 自定义主题颜色
  $colors: (
    'primary': (
      'base': #006FEE, 
    ),
    'success': (
    'base': #17c964,
    ),
    'warning':(
    'base': #f5a524,
    ),
    'danger': (
    'base': #f31260,
    ),
    'error': (
    'base': #f31260,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
/* Elmessage, MessageBox */
@use 'element-plus/theme-chalk/src/message.scss';
@use 'element-plus/theme-chalk/src/message-box.scss';

/* 自定义按钮样式, 注意，这个primary-btn类名只能在type是default的时候（没有显示的声明type的时候）使用 */
.primary-btn {
  background-color: #FFC200;
  border-color: #FFC200;
  color: #20232A;
  &:hover {
    background-color: darken(#FFC200, 5%);
    border-color: darken(#FFC200, 5%);
    color: #20232A;
  }
}

.secondary-btn {
  background-color: #20232A;
  border-color: #20232A;
  color: #FFFFFF;
  &:hover {
    background-color: darken(#FFFFFF, 60%);
    border-color: darken(#FFFFFF, 60%);
    color: #FFFFFF;
  }
}

/* input */
.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #FFC200 inset !important;
}